<style>
    .prikaz{
        max-width: 1000px;
        width: 100%;
        background-color: #ffffff;
        margin: 20px auto;
        padding: 30px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    }
    .prikaz .naslov{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 25px;
        color:  #A52A2A;
        text-transform: uppercase;
        text-align: center;
    }

    .prikaz .pretraga{
        float: right;
    }
</style>
<div class="prikaz">
    <div class="row">
        <div class="col-12">
            <div class="naslov">
                Proizvodi
                <input type="text" placeholder="Pretraga..." ng-model="searchText" class="pretraga" />
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Redni broj</th>
                        <th>Naziv</th>
                        <th>Sastojci</th>
                        <th>Cena</th>
                        <th>Opis proizvoda</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in pctrl.proizvodi | filter:searchText">
                        <td>{{$index+1}}.</td>
                        <td><a ui-sref="proizvod({id: p['id']})">{{p["naziv"]}}</a></td>
                        <td>{{p["sastojci"]}}</td>
                        <td>{{p["cena"]}}</td>
                        <td>{{p["opis_proizvoda"]}}</td>
                        <td><button class="btn btn-danger" ng-click="pctrl.obrisiProizvod(p['id'])">Ukloni</button></td>
                        <td><button class="btn btn-success" ui-sref="izmenaProizvoda({id: p['id']})">Izmeni</button></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary" style="width: 100%;" ui-sref="dodavanjeProizvoda">Dodaj proizvod</button>
            </div>
        </div>
    </div>
</div>