<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
        .prikaz{
            max-width: 800px;
            width: 100%;
            background-color: #ffffff;
            margin: 20px auto;
            padding: 30px;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    }

        .prikaz .naslov{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 25px;
            color:  #A52A2A;
            text-transform: uppercase;
            text-align: center;
        }

        .prikaz .dodaj-dugme{
            width: 100%;
            padding: 8px 10px;
            font-size: 15px;
            border: 0;
            background-color: #A52A2A;
            color: #ffffff;
            cursor: pointer;
            border-radius: 3px;
        }
</style>
<div class="prikaz">
    <div class="row">
        <div class="col-12">
            <div class="naslov">
                Proizvod forma
            </div>
            <form name="proizvodForma" ng-submit="dctrl.sacuvaj()">
                <div class="form-group">
                    <label for="naziv">Naziv proizvoda:</label>
                    <input ng-class="{'is-invalid': proizvodForma['naziv'].$invalid}" type="text" name="naziv" id="naziv" class="form-control" ng-model="dctrl.noviProizvod.naziv" required>
                </div>
                <div class="form-group">
                    <label for="naziv">Sastojci:</label>
                    <input ng-class="{'is-invalid': proizvodForma['sastojci'].$invalid}" type="text" name="sastojci" id="sastojci" class="form-control" ng-model="dctrl.noviProizvod.sastojci" required>
                </div>
                <div class="form-group">
                    <label for="naziv">Cena:</label>
                    <input ng-class="{'is-invalid': proizvodForma['cena'].$invalid}" type="number" name="cena" id="cena" class="form-control" ng-model="dctrl.noviProizvod.cena" required>
                </div>
                <div class="form-group">
                    <label for="naziv">Opis proizvoda:</label>
                    <input ng-class="{'is-invalid': proizvodForma['opis_proizvoda'].$invalid}" type="opis_proizvoda" name="opis_proizvoda" id="opis_proizvoda" class="form-control" ng-model="dctrl.noviProizvod.opis_proizvoda" required>
                </div>
                <div class="form-group">
                    <label for="kategorija">Kategorija:</label>
                    <select class="form-control" id="tip_proizvoda_id" name="tip_proizvoda_id"
                        ng-options="tip_proizvoda_id.id as tip_proizvoda_id.naziv for tip_proizvoda_id in dctrl.kategorije"
                        ng-model="dctrl.noviProizvod.tip_proizvoda_id">
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" ng-if="dctrl.noviProizvod['id']" value="Izmeni proizvod" class="dodaj-dugme">
                    <input type="submit" ng-if="!dctrl.noviProizvod['id']" value="Dodaj proizvod" class="dodaj-dugme">
                </div>
            </form>
        </div>
    </div>
</div>