<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
        .registration-forma{
            max-width: 500px;
            width: 100%;
            background-color: #ffffff;
            margin: 20px auto;
            padding: 30px;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    }

        .registration-forma .naslov{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 25px;
            color:  #A52A2A;
            text-transform: uppercase;
            text-align: center;
        }

        .registration-forma .registracija-dugme{
            width: 100%;
            padding: 8px 10px;
            font-size: 15px;
            border: 0;
            background-color: #A52A2A;
            color: #ffffff;
            cursor: pointer;
            border-radius: 3px;
        }
</style>

<div class="registration-forma">
    <div class="row">
        <div class="col-12">
            <div class="naslov">
                Korisnik forma
            </div>
            <form name="korisnikForma" ng-submit="kctrl.sacuvaj()">
                <div class="form-group">
                    <label for="naziv">Korisnicko ime:</label>
                    <input ng-class="{'is-invalid': korisnikForma['korisnicko_ime'].$invalid}" type="text" name="korisnicko_ime" id="korisnicko_ime" class="form-control" ng-model="kctrl.noviKorisnik.korisnicko_ime" required placeholder="Korisnicko ime...">
                </div>
                <div class="form-group">
                    <label for="naziv">Lozinka:</label>
                    <input ng-class="{'is-invalid': korisnikForma['lozinka'].$invalid}" type="password" name="lozinka" id="lozinka" class="form-control" ng-model="kctrl.noviKorisnik.lozinka" required placeholder="Lozinka...">
                </div>
                <div class="form-group">
                    <label for="naziv">Ime:</label>
                    <input ng-class="{'is-invalid': korisnikForma['ime'].$invalid}" type="text" name="ime" id="ime" class="form-control" ng-model="kctrl.noviKorisnik.ime" required placeholder="Ime...">
                </div>
                <div class="form-group">
                    <label for="naziv">Prezime:</label>
                    <input ng-class="{'is-invalid': korisnikForma['prezime'].$invalid}" type="prezime" name="prezime" id="opis_proizvoda" class="form-control" ng-model="kctrl.noviKorisnik.prezime" required placeholder="Prezime...">
                </div>
                <div class="form-group">
                    <input type="submit" value="Registruj se" class="registracija-dugme" ng-if="!kctrl.noviKorisnik['id']">
                    <input type="submit" value="Izmeni korisnika" class="registracija-dugme" ng-if="kctrl.noviKorisnik['id']">
                </div>
            </form>
        </div>
    </div>
</div>