<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
        .login-forma{
            max-width: 500px;
            width: 100%;
            background-color: #ffffff;
            margin: 20px auto;
            padding: 30px;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    }

        .login-forma .naslov{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 25px;
            color:  #A52A2A;
            text-transform: uppercase;
            text-align: center;
        }

        .login-forma .login-dugme{
            width: 100%;
            padding: 8px 10px;
            font-size: 15px;
            border: 0;
            background-color: #A52A2A;
            color: #ffffff;
            cursor: pointer;
            border-radius: 3px;
        }
</style>
<div>
    <div class="row">
        <div class="col-12">
            <div ng-if="lctrl.status == 'neuspesno'" class="alert alert-danger" role="alert">
                Korisnik sa zadatim podacima nije pronađen. Pokušajte ponovo.
            </div>
            <div ng-if="lctrl.status == 'prijavljen'" class="alert alert-success" role="alert">
                Korisnik uspešno prijavljen.
            </div ng-if="neuspesno">
        </div>
    </div>
<div class="login-forma">
<div class="login">
    <div class="row">
        <div class="col-12">
            <div class="naslov">
                Login
            </div>
            <form ng-if="lctrl.status != 'prijavljen'" ng-submit="lctrl.login()" name="loginForma">
                <div class="form-group">
                    <label for="naziv">Korisničko ime:</label>
                    <input ng-class="{'is-invalid': loginForma['korisnicko_ime'].$invalid}" type="text"
                        name="korisnicko_ime" id="korisnicko_ime" class="form-control"
                        ng-model="lctrl.korisnik.korisnicko_ime" required placeholder="Korisnicko ime...">
                </div>
                <div class="form-group">
                    <label for="naziv">Lozinka:</label>
                    <input ng-class="{'is-invalid': loginForma['lozinka'].$invalid}" type="password" name="lozinka"
                        id="lozinka" class="form-control" ng-model="lctrl.korisnik.lozinka" required placeholder="Lozinka...">
                </div>
                    <div class="form-group">
                        <input type="submit" value="Prijava"  class="login-dugme" class="btn btn-primary">
                    </div>
                </form>
            </div>
            <button ng-if="lctrl.ulogovan === 'prijavljen'" class="login-dugme" ng-click="lctrl.logout()">Odjava</button>
        </div>
    </div>
</div>
</div>