<style>
    .prikaz{
        max-width: 500px;
        width: 100%;
        background-color: #ffffff;
        margin: 20px auto;
        padding: 30px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

    .prikaz .naslov{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 25px;
        color:  #A52A2A;
        text-transform: uppercase;
        text-align: center;
    }

    .prikaz .element{
        font-size: 15px;
        padding: 10px;
        
    }

    
</style>
<div class="prikaz">
<div class="naslov">Korisnicki profil</div>
<div class="element">
    Ime: <input type="text" value="{{kctrl.korisnik.ime}}" readonly>
</div>
<div class="element">
    Prezime: <input type="text" value="{{kctrl.korisnik.prezime}}" readonly>
</div>
<div class="element">
    Korisnicko ime: <input type="text" value="{{kctrl.korisnik.korisnicko_ime}}" readonly>
</div>
<div class="element">
    Lozinka: <input type="password" value="{{kctrl.korisnik.lozinka}}" id="passwordInput" readonly>
    <input type="checkbox" ng-click="kctrl.showPassword()"> Prikazi lozinku
    <!--<div>Cena: {{kctrl.korisnik.lozinka}}</div>-->
</div>
<!--<a ui-sref="izmenaProizvoda({id: pctrl.proizvod.id})">Izmeni</a>-->
</div>