<style>
        .prikaz{
            max-width: 1000px;
            width: 100%;
            background-color: #ffffff;
            margin: 20px auto;
            padding: 30px;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
        }
        .prikaz .naslov{
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 25px;
            color:  #A52A2A;
            text-transform: uppercase;
            text-align: center;
        }
        .prikaz .pretraga{
        float: right;
        }
</style>
<div class="prikaz">
    <div class="row">
        <div class="col-12">
            <div class="naslov">
                Korisnici
                <input type="text" placeholder="Pretraga..." ng-model="searchText" class="pretraga" />
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ime</th>
                        <th>Korisnicko ime</th>
                        <th>Prezime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="k in kctrl.korisnici | filter:searchText">
                        <td>{{k["id"]}}.</td>
                        <td><a ui-sref="korisnik({id: k['id']})">{{k["ime"]}}</a></td>
                        <td>{{k["korisnicko_ime"]}}</td>
                        <td>{{k["prezime"]}}</td>
                        <td><button class="btn btn-danger" ng-click="kctrl.obrisiKorisnika(k['id'])">Ukloni</button></td>
                        <td><button class="btn btn-success" ui-sref="izmenaKorisnika({id: k['id']})">Izmeni</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
