<style>
        .prikaz{
            max-width: 500px;
            width: 100%;
            background-color: #ffffff;
            margin: 20px auto;
            padding: 30px;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    }

        .prikaz .naslov{
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 25px;
            color:  #A52A2A;
            text-transform: uppercase;
            text-align: center;
        }

        .prikaz .element{
            font-size: 15px;
            padding: 10px;
        }

        
</style>
<div class="prikaz">
    <div class="naslov">{{pctrl.proizvod.naziv}}</div>
    <div class="element">
        <div>Opis: {{pctrl.proizvod.opis_proizvoda}}</div>
    </div>
    <div class="element">
        <div>Sastojci: {{pctrl.proizvod.sastojci}}</div>
    </div>
    <div class="element">
        <div>Cena: {{pctrl.proizvod.cena}} dinara</div>
    </div>
    <!--<a ui-sref="izmenaProizvoda({id: pctrl.proizvod.id})">Izmeni</a>-->
</div>