<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocetna</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- Uvezivanje AngularJS biblioteke. -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>

    <!-- Uvezivanje skripte glavne aplikacije. -->
    <script src="/app/app.js"></script>
    <script src="app/components/proizvodi/proizvodiCtrl.js"></script>
    <script src="app/components/proizvodiDodavanje/pdodavanjeCtrl.js"></script>
    <script src="app/components/proizvod/proizvodCtrl.js"></script>
    <script src="app/components/login/loginCtrl.js"></script>
    <script src="app/components/registracija/registracijaCtrl.js"></script>
    <script src="app/components/korisnici/korisniciCtrl.js"></script>
    <script src="app/components/loginService/loginService.js"></script>
    <script src="app/components/korisnik/korisnikCtrl.js"></script>
    <script src="app/components/korpa/korpaCtrl.js"></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
        body{
            background-color: #A52A2A;
            font-family: 'Montserrat', sans-serif;
    }
</style>
<body ng-app="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #643E46FF;" ng-controller="LoginCtrl as lctrl">
        <a class="navbar-brand" ui-sref="home" ui-sref-active="active">Street Food</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="korpa" ng-show="lctrl.ulogovan">Korpa</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="home" ng-show="lctrl.ulogovan">Proizvodi</a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="lctrl.ulogovan">
                    <a class="nav-link" ui-sref="korisnici">Korisnici</a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="!lctrl.ulogovan">
                    <a class="nav-link" ui-sref="login">Login</a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="lctrl.ulogovan">
                    <a class="nav-link" ng-click="lctrl.logout()">Logout</a>
                </li>
                <li class="nav-item" ui-sref-active="active" ng-show="!lctrl.ulogovan">
                    <a class="nav-link" ui-sref="registracija">Registracija</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <ui-view ></ui-view>
    </div>
</body>
</html>